:root {
    --primary: #135bec;
    --bg-light: #f6f6f8;
    --bg-dark: #101622;
    --text-dark: #1c1f27;
    --text-gray: #555;
    font-family: "Space Grotesk", sans-serif;
  }
  
  body {
    margin: 0;
    background: var(--bg-light);
    color: var(--text-dark);
  }
  
  /* NAVBAR */
  .navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: rgba(246, 246, 248, 0.9);
    padding: 15px 40px;
    border-bottom: 1px solid #ccc;
    position: sticky;
    top: 0;
    z-index: 50;
    backdrop-filter: blur(6px);
  }
  
  .logo {
    display: flex;
    align-items: center;
    gap: 10px;
    font-weight: 700;
  }
  
  .logo img {
    width: 90px;
    height: 60px;
    fill: var(--text-dark);
  }
  
  nav {
    display: flex;
    align-items: center;
    gap: 25px;
  }
  
  nav a {
    color: #555;
    text-decoration: none;
    font-weight: 500;
  }
  
  nav a:hover {
    color: var(--primary);
  }
  
  nav button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 8px 16px;
    border-radius: 8px;
    cursor: pointer;
    font-weight: bold;
  }
  
  nav button:hover {
    background: #0e4ed2;
  }
  
  /* HERO */
  .hero {
    background: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.5)),
      url("https://lh3.googleusercontent.com/aida-public/AB6AXuBTgrbdTKcjup1lNQ16R47Mv6ISiWd2XIxmP5X5kuJHNtgiiQOEmxDt9tPw-FeOU-8gBHI0X2eWEUAv-FenO2fktEL8QLkXnn9PDACiM9VARXvZFxpB89X81-UQyOlgDZDVP-TwFJJe08iKPNBz-WuY4Wy7RipQKjXYKbj8zbMZZQzUNUlZ1JycSaqkRW4vRMmoZ-87RGsWOE_APSJvjL8TCxdAUy72eC_HbOiSUWHhVA9_D4EYYXPnVPayNuEjPkXhx33To5GoXwg")
      center/cover no-repeat;
    color: white;
    text-align: center;
    padding: 100px 20px;
  }
  
  .hero h1 {
    font-size: 2.5rem;
    font-weight: 800;
    margin-bottom: 10px;
  }
  
  .hero p {
    max-width: 600px;
    margin: 0 auto 20px;
  }
  
  .hero button {
    background: var(--primary);
    color: white;
    border: none;
    padding: 12px 20px;
    border-radius: 8px;
    font-weight: bold;
    cursor: pointer;
  }
  
  /* FEATURES */
  .features {
    text-align: center;
    padding: 80px 20px;
  }
  
  .features h2 {
    font-size: 2rem;
    margin-bottom: 10px;
  }
  
  .cards {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
    margin-top: 40px;
  }
  
  .card {
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 30px;
  }
  
  .card span {
    font-size: 40px;
    color: var(--primary);
  }
  
  .card h3 {
    margin: 10px 0;
  }
  .icon-cards{
    height: 50px;
    width: auto;
  }
  
  /* STEPS */
  .steps {
    text-align: center;
    padding: 80px 20px;
  }
  
  .tabs {
    display: flex;
    justify-content: center;
    gap: 40px;
    margin: 30px 0;
    border-bottom: 1px solid #ddd;
  }
  
  .tabs a {
    padding-bottom: 10px;
    font-weight: bold;
    text-decoration: none;
    color: #666;
    border-bottom: 3px solid transparent;
  }
  
  .tabs a.active {
    color: var(--primary);
    border-bottom-color: var(--primary);
  }
  
  .steps-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(260px, 1fr));
    gap: 20px;
  }
  
  .step span {
    font-size: 30px;
    color: var(--primary);
    display: inline-block;
    margin-bottom: 10px;
  }
  .step {
    background: white;
    border: 1px solid #ddd;
    border-radius: 12px;
    padding: 25px;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    min-height: 280px; /* iguala el alto de todas las tarjetas */
  }
  
  .steps-img {
    height: 60px;
    width: auto;
    margin-bottom: 15px;
    display: block;
    object-fit: contain;
  }
  
  .step h3 {
    margin-top: 10px;
  }
  
  
  
  /* FOOTER */
  footer {
    background: white;
    border-top: 1px solid #ccc;
    padding: 20px 40px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  
  .footer-left {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  .footer-left svg {
    width: 24px;
    height: 24px;
    fill: var(--text-dark);
  }
  
  .footer-right a {
    color: #777;
    text-decoration: none;
    margin-left: 15px;
  }
  
  .footer-right a:hover {
    color: var(--primary);
  }
  
  .img-logo-foot{
    width: 30px;
    height: 15px;
    fill: var(--text-dark);
  }
  
  @media (max-width: 768px) {
    nav {
      display: none;
    }
    .hero h1 {
      font-size: 2rem;
    }
    footer {
      flex-direction: column;
      text-align: center;
    }
  }
  